.attribution {
  @extend .flex-item;
  gap: 30px;

  .social-icons,
  .credits {
    position: absolute;
    z-index: 9999;
  }
  .social-icons {
    bottom: 100px;
    .fa-brands {
      transition: all 0.3s ease;
      cursor: pointer;
    }
    .fa-brands:hover {
      color: $Soft-red;
    }
    .fa-brands + .fa-brands {
      margin-left: 30px;
    }
  }
  p {
    font-size: 0.6rem;
    color: $White;
  }
  .credits {
    @extend .flex-item;
    bottom: 50px;
    flex-direction: row;
    gap: 3px;
  }
}
.attribution a {
  color: $Soft-red;
}
@media (max-width: 37.5em) {
  .attribution {
    gap: 20px;
    margin-block-start: 5em;

    .social-icons,
    .credits {
      position: relative;
    }
    .social-icons {
      bottom: 0;
    }
    .credits {
      bottom: 0;
    }
  }
}
