.attribution {
  @extend .flex-item;
  background: url(images/pattern-hills.svg);
  background-repeat: no-repeat;
  background-position: top;
  gap: 30px;
  margin-block-start: 100px;
  width: 100%;
  height: 200px;

  .social-icons {
    i {
      transition: all 0.3s ease;
      cursor: pointer;
    }
    i:hover {
      color: $Soft-red;
    }
    .fa-pinterest {
      margin-inline: 30px;
    }
  }
  p {
    font-size: 0.6rem;
    color: $White;
  }
  .credits {
    @extend .flex-item;
    flex-direction: row;
    gap: 3px;
  }
}
.attribution a {
  color: $Soft-red;
}
@media (max-width: 767px) {
}
